<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h3 class="document-title">Prozone - JOHN10001 </h3>
      
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2"><i class="material-icons cursor-pointer" title="Print" style="font-size: 40px;
            float: right;">print</i></div>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Contact Details</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Your Name" value="John" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mobile number" value="+95 123 456 789" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" value="john@yahoo.com" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Location" value="P.O. Box 3625 Sheikh Khalifa Bin Saeed Street Dubai P.O. Box 901 Abu Dhabi" readonly></textarea>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Licensing Information</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Category" value="Category 1" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Sub category" value="Sub category 1" readonly>
                  </mat-form-field>
                </div>     
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Licensing location" value="Dubai" readonly>
                  </mat-form-field>
                </div>  
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Licensing type" value="Professional" readonly>
                  </mat-form-field>
                </div>  
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Legal type" value="Local / Foreign Branch" readonly>
                  </mat-form-field>
                </div> 
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Duration" value="Approx 7-15 Working Days" readonly>
                  </mat-form-field>
                </div> 
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Service Details" value="" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Details" value="" readonly>
                  </mat-form-field>
                </div>  
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Required Documents" value="Trade Name & Activities" readonly>
                  </mat-form-field>
                </div>     
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Express delivery" value="Yes" readonly>
                  </mat-form-field>
                </div>           
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Documents</h4>
          </div>
          <div class="card-body">
            <div class="document document1">
              <img src="assets/img/document1.png">
              <p class="font-weight-bold text-center">Passport</p>
            </div>
            <div class="document document2">
              <img src="assets/img/document2.png">
              <p class="font-weight-bold text-center">Visa</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Status</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Status</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let sta of status" [value]="sta.id">
                        {{sta.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Comments"></textarea>
                  </mat-form-field>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right ml-3">
                  <span >Save</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Status Histories</h4>
          </div>
          <div class="card-body">
            <div class="alert alert alert-info notification-panel">
              <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span data-notify="message">Application moved into Completed status.</span>
              <span>Updated 15mins ago</span>
            </div>
            <div class="alert alert alert-info notification-panel">
              <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span data-notify="message">Application moved into in progress status.</span>
              <span>Updated 1hour ago</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>