<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title ">Manage Customers</h4>
            </div>
            <div class="card-body applications">
              <div class="table-responsive">
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let element"> <span class="clickable-field"
                          >{{element.email}}</span></td>
                    </ng-container>
                    <ng-container matColumnDef="mobile">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <ng-container *ngIf="!dataSource || dataSource.data.length == 0">
                    <p class="text-center mt-2">No Records found.</p>
                  </ng-container>
                  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="show-loader" *ngIf="showLoader"></div>