<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h3 class="document-title">Prozone - STAFFJOHN10001</h3>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Contact Details</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Your Name" value="John" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobile number" value="+95 123 456 789" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="email" value="john@yahoo.com"
                                            readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Role</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let role of roles" [value]="role.id">
                                                {{role.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Location"
                                            value="P.O. Box 3625 Sheikh Khalifa Bin Saeed Street Dubai P.O. Box 901 Abu Dhabi"
                                            readonly></textarea>
                                    </mat-form-field>
                                </div>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>